# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# D:\PROGRAMACAO\03_JAVA\02-Projeto_Site_Artes_git\Projeto_Site_Artes\logErro.txt
./logErro.txt
./ExemplosDePaginas_3D/
# Ignore pasta Erros neste caminho /D:\PROGRAMACAO\03_JAVA\02-Projeto_Site_Artes_git\Projeto_Site_Artes\artes-plasticas-frontend/Erros
./Erros/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
